<?xml version="1.0"?>

<!--
Copyright (c) 2019 Pilz GmbH & Co. KG
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.
You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>
  <arg name="sim" default="true" />

  <!-- Control a supported gripper, e.g. 'pg70'.
       Note: Please include the gripper model into your application URDF yourself. -->
  <arg name="gripper" value="" />

  <include file="$(find prbt_moveit_config)/launch/move_group.launch">
    <arg name="fake_execution" value="false" />
    <arg name="load_robot_description" value="true" />
    <arg name="gripper" value="$(arg gripper)" />

    <arg name="pipeline" value="pilz_command_planner" />
  </include>

  <include file="$(find prbt_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find prbt_moveit_config)/launch/moveit.rviz" />
  </include>


  <!-- Run the "real robot" interface nodes -->
  <group unless="$(arg sim)">
    <include file="$(find prbt_support)/launch/robot.launch">
      <arg name="load_robot_description" value="false" />
      <arg name="gripper" value="$(arg gripper)" />
    </include>

  </group>

  <!-- Run the robot simulator and action interface nodes -->
  <group if="$(arg sim)">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="fake_joint_driver" pkg="fake_joint_driver" type="fake_joint_driver_node"/>

    <rosparam file="$(find prbt_support)/config/manipulator_controller.yaml" />
    <rosparam param="/manipulator_joint_trajectory_controller/type">position_controllers/JointTrajectoryController</rosparam>
    <rosparam param="/move_group/controller_list">[{name: "manipulator_joint_trajectory_controller/", action_ns: follow_joint_trajectory, type: FollowJointTrajectory, joints: [prbt_joint_1, prbt_joint_2, prbt_joint_3, prbt_joint_4, prbt_joint_5, prbt_joint_6] } ]</rosparam>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" args="manipulator_joint_state_controller manipulator_joint_trajectory_controller"/>
    <rosparam file="$(find pilz_jog_arm_support)/config/controller.yaml" />
    <node name="controller_loader" pkg="controller_manager" type="controller_manager" respawn="false" args="load joint_group_position_controller"/>
  </group>

</launch>
