# Travis CI instructions

sudo: required
dist: trusty
language: generic

notifications:
  email:
    on_failure: always
    recipients:
      # Add maintainer e-mail like so: - h.slusarek@pilz.de
env:
  global:
    - ROS_DISTRO="melodic"
    - CATKIN_LINT=true
    - CMAKE_ARGS="-DCATKIN_ENABLE_CLANG_TIDY=true"
    - ADDITIONAL_DEBS="clang-tidy libclang-dev"
  matrix:
    # - CLANG_FORMAT_CHECK=file
    - ROS_REPO=ros
    - ROS_REPO=testing
    #- ROS_REPO="testing"
    #  CATKIN_LINT=false NOT_TEST_BUILD=true
    #  AFTER_SCRIPT="./.coverage.sh"
    #  CMAKE_ARGS="-DENABLE_COVERAGE_TESTING=ON -DCMAKE_BUILD_TYPE=Debug"
      # List of packages which have to be considered for coverage checking:
      # DOCKER_RUN_OPTS='-e COVERAGE_PKGS="pilz_control pilz_utils prbt_hardware_support"'
    # Enable Address sanitizing:
    #- ROS_REPO="testing"
    #  CATKIN_LINT=false CMAKE_ARGS="-DCMAKE_BUILD_TYPE=Debug"
    #  DOCKER_RUN_OPTS='-e ENABLE_ADDRESS_SANITIZING=1'
    # Enable undefined behavior sanitizing:
    #- ROS_REPO="testing"
    #  CATKIN_LINT=false CMAKE_ARGS="-DCMAKE_BUILD_TYPE=Debug"
    #  DOCKER_RUN_OPTS='-e ENABLE_UNDEFINED_BEHAVIOR_SANITIZING=1 -e UBSAN_OPTIONS=print_stacktrace=1'
matrix:
  allow_failures:
    - env: ROS_REPO=ros
  fast_finish: true
install:
  - git clone --depth=1 https://github.com/tork-a/fake_joint && touch fake_joint/fake_joint/CATKIN_IGNORE && touch fake_joint/fake_joint_launch/CATKIN_IGNORE ## not yet available as binary package
  - git clone --depth=1 --branch master https://github.com/ros-industrial/industrial_ci.git .industrial_ci
script:
  - .industrial_ci/travis.sh
