# General

- Mention in documentation, that the terminal in which teleop runs always needs to be focused

# key_teleop

- Joint velocity is not controlled by 

# key_teleop_single_dimensions

# key_teleop_toggle_velocity

# key_teleop_wasd